* {
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.primary__btn {
  transition: all 0.3s ease-in-out;
}

.primary__btn:hover,
.primary__btn:focus {
  color: #FFFFFF80;
  background-color: #45526E;
}